h1 
{text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

h2 
{text-align:center;}

p 
{text-align:center;}

body
{background-color: #dedcfc;}

p1
{text-decoration: underline;}

div
{text-align:center;}

img
{width: 400px;
height: 340px;}
